#img1{
    display: block;
    position: relative;
    bottom: 300px;
    top: 230px;
    right: 600px;
    left: 730px;
}

#nav-bar{
    float: right;

    
}
.nav-link{
    padding: 10px;
    position: relative;
    top: -80px;
    bottom: 0px;
   font-family: 'Poppins';
   font-size: 12px;
   text-decoration: none;
   color: black;
}
#btn1{
    position: relative;
    top: -80px;
    width: 100px;
    height: 38px;
    border-radius: 5px;
    background-color: #3d7df5;
    color: white;
    
}
.material-icons{
    position: relative;
    top: -70px;
    color: black;
    padding: 10px;
  
    width: 20px;
    height: 20px;
}
.nav-link:hover{
    text-decoration: underline;
}
.material-icons:hover{
    text-decoration: none;
    background-color: rgba(220, 224, 224,0.5);
    border-radius: 60%;
}
#input1{
    position: relative;
    bottom: 100px;
    top: 255px;
    left: 570px;
    border-radius: 30px;
    width: 600px;
    height: 48px;
    border-style:solid ;
}
#input1:hover{
    box-shadow: 5px 10px #9699a0;
}
