#img1{
    display: block;
    position: relative;
    bottom: 300px;
    top: 230px;
    right: 600px;
    left: 730px;
}

#nav-bar{
    float: right;

    
}
.nav-link{
    padding: 10px;
    position: relative;
    top: -80px;
    bottom: 0px;
   font-family: 'Poppins';
   font-size: 12px;
   text-decoration: none;
   color: black;
}
#btn1{
    position: relative;
    top: -80px;
    width: 100px;
    height: 38px;
    border-radius: 5px;
    background-color: #3d7df5;
    color: white;
    
}
.material-icons{
    position: relative;
    top: -70px;
    color: black;
    padding: 10px;
  
    width: 20px;
    height: 20px;
}
.nav-link:hover{
    text-decoration: underline;
}
.material-icons:hover{
    text-decoration: none;
    background-color: rgba(220, 224, 224,0.5);
    border-radius: 60%;
}
#input1{
    position: relative;
    bottom: 100px;
    top: 255px;
    left: 570px;
    border-radius: 30px;
    width: 600px;
    height: 48px;
    border-style:solid ;
    box-shadow: 0 0 10px rgba(225,225,225, 0.1);
    
}
#input1:hover , #input:focus , #input:active{
    box-shadow: 0 0 20px rgb(225, 225, 225);
    -webkit-transform: scale(1);
    transform: scale(1);

}
.btn2{
    position: relative;
    bottom: 100px;
    top: 330px;
    left: 100px;
    border-radius: 5px;
    padding: 7px;
    background-color: rgba(233,235,240, 0.2);
  

}
    
