#img1{
    display: block;
    position: relative;
    bottom: 300px;
    top: 230px;
    right: 600px;
    left: 730px;
}

#nav-bar{
    float: right;

    
}
.nav-link{
    padding: 10px;
    position: relative;
    top: -100px;
    bottom: 0px;
    left: 0px;
   font-family: 'Poppins';
   font-size: 12px;
   text-decoration: none;
   color: black;
}
#btn1{
    position: relative;
    top: -100px;
    width: 80px;
    left: 0px;
    height: 35px;
    border-radius: 5px;
    background-color: #3d7df5;
    color: white;
    
}
.material-icons{
    position: relative;
    top: -92px;
    left: 0px;
    color: black;
    padding: 10px;
    
  
    width: 20px;
    height: 20px;
}
.nav-link:hover{
    text-decoration: underline;
}
.material-icons:hover{
    text-decoration: none;
    background-color: rgba(220, 224, 224,0.5);
    border-radius: 60%;
}
#input1{
    position: relative;
    bottom: 100px;
    top: 255px;
    left: 590px;
    border-radius: 30px;
    width: 600px;
    height: 48px;
    border-style:solid ;
    box-shadow: 0 0 10px rgba(225,225,225, 0.1);
    -webkit-transition-duration: 0.03s;
    transition-duration: 0.03s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    
}
#input1:hover , #input:focus , #input:active{
    box-shadow: 0 0 20px rgb(225, 225, 225);
    -webkit-transform: scale(1);
    transform: scale(1);

}
#button1{
    position: relative;
    bottom: 100px;
    top: 330px;
    left: 129px;
    width: 130px;
    height: 40px;
    margin: 10px;
    border: none;
    cursor:pointer;
    padding: 10px;
    -webkit-transition-duration: 0.03s;
    transition-duration: 0.03s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    
  

}
#button{
    position: relative;
    bottom: 100px;
    top: 330px;
    left: 130px;
    width: 130px;
    height: 40px;
    margin: 10px;
    border: none;
    cursor:pointer;
    padding: 10px;
    -webkit-transition-duration: 0.03s;
    transition-duration: 0.03s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    
}
#button1:hover , #button1:focus {
    box-shadow: 0 0 20px rgb(225, 225, 225);
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
   
    
    
    
    border-color: rgba(220, 224, 224,0.5);
   
    

}
#button:hover , #button:focus {
    box-shadow: 0 0 20px rgb(225, 225, 225);
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    
    border-color: rgba(220, 224, 224,0.5);
   

}

#Paragraph1{
    position: relative;
    bottom: 100px;
    top: 390px;
    left: 790px;
    cursor:pointer;
    font-family: 'sans-serif';
    font-size: 12px;
    padding: 10px;

}
#form1{
    position: absolute;
}


    
